fastapi
uvicorn[standard]
python-multipart
boto3
pinecone>=4.0
openai
pydantic>=2.0
rsa>=4.0
python-jose[cryptography]>=3.3.0
tqdm
pydantic-settings>=2.0
PyMuPDF==1.24.10
bcrypt
python-dotenv
email-validator
pydantic[email]
pymongo
httpx
gunicorn

